* {
  box-sizing: border-box;
}
body, html {
  background: #fffefe;
}
h1 {
  margin: 0;
  padding: 1rem 0;
}
.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  height: 80px;
  background: linear-gradient(to bottom, #efefef, transparent);
}
main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form {
  min-width: 400px;
  height: 300px;
  box-shadow: 0 0 15px #000000af;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.form input {
  width: 80%;
  font-size: 1rem;
  line-height: 2rem;
  border: none;
  border-bottom: 1px solid #333;
}
.form button {
  font-size: 1rem;
  border-radius: 5px;
  background: radial-gradient(#9ada9a98, #9ada9a);
  color: #333;
  margin: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #000000af;
  border-radius: 7px;
  min-width: 200px;
  align-items: center;
  padding: 0 1rem;
}
.list-item {
  height: 65px;
  border-bottom: 1px solid #202020;
  width: 100%;
}
.list-item:nth-last-of-type(1) {
  border-bottom: none;
}
.list-item > div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.list-item h2 {
  min-width: 2rem;
}
.list-item h3 {
  flex: 1;
}
